*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('background-main.avif');
}

.container{
    height: 100vh;
    color: white;
    width: 50%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sub-container{
    display: flex;
    align-items: center;
}

.sub-container a{
    text-decoration: none;
    font-size: large;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sub-container a:hover{
    color: burlywood;
}
.sub-container a:active{
    text-decoration: dotted;
}
.sub-container a:visited{
    text-decoration: line-through;
}

.container-1 {
    background-color: #dad9d0;
    border: 2px dashed #222722;
    border-radius: 10px;
    padding: 70px 40px;
    color: #222722;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
    width: 50%;
    /* letter-spacing: 0px; */
    margin: auto;
}
.container-2 {
    background-color: #1b3f6cfa;
    border: 2px dashed #dad9d0;
    border-radius: 10px;
    padding: 70px 40px;
    color: #dad9d0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    width: 50%;
    margin: auto;
    letter-spacing: 1px;
}
.container-3 {
    background-image: url('tile.jpg');
    background-repeat: repeat;
    fill-opacity: .1;
    border: 2px dashed #222722;
    border-radius: 10px;
    padding: 70px 40px;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    font-weight: bold;
    width: 50%;
    margin: auto;
}

.container-3 span{
    background-color: #898f96;
    display: block;
    opacity: .9;
    border-radius: 5px;
    padding: 5px;
}