.vscode

# IGNORED FILES FROM SEMESETER 1
SEM 1/psp/assignment*/*.exe

SEM 1/psp/project/*.exe
SEM 1/psp/project/*.o
SEM 1/psp/project/data/*.txt

SEM 1/PDFs and others


# IGNORED FILES FROM SEMESETER 2
SEM 2/Java/CW
SEM 2/WT/CW
SEM 2/DS/CW
SEM 2/DS/*.exe
SEM 2/PDFs and others