./.vscode

./psp/assignment1/*.exe
./psp/assignment2/*.exe
./psp/assignment3/*.exe
./psp/assignment4/*.exe
./psp/assignment5/*.exe
./psp/assignment6/*.exe
./psp/assignment7/*.exe
./psp/assignment8/*.exe
./psp/assignment9/*.exe
psp/project/*.exe
psp/project/*.o

psp/project/data/*.txt