@font-face {
    font-family: 'Lack';
    /*a name to be used later*/
    src: url('Lack-Regular.otf');
    /*URL to font*/
}

body {
    font-family: 'Lack';
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    color: #a1a1a1;
    background-color: #484848;
}

.cv-start {
    width: 50%;
    margin: auto;
    background-color: #E3EDD8;
    padding: 40px 100px;
    margin-top: 40px;
    margin-bottom: 60px;
    background-color: #343434;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

div {
    border-radius: 5px;
}

#header {
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    align-items: center;
    color: #dbdbdb;
}

.profile {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 30px;
}

.profile-details {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

#name {
    margin-left: 20px;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0;
}

.name-undertext {
    margin: 0 0;
    color: #a1a1a1;
}

span.underline {
    text-decoration: underline;
}

#header>div>img {
    filter: grayscale(100%);
    /* aspect-ratio: 1 / 3; */
    height: 130px;
    width: 130px;
    border-radius: 50%;
    justify-content: center;
    object-fit: scale-down;
    /* object-fit: cover; */
    transform: scale(1.2);
}

.socials {
    display: flex;
    flex-direction: column;
}

.socials a {
    text-decoration: none;
    color: #a1a1a1;
    display: block;
    font-size: large;
    margin: 10px;
    transition: .4s;
}

.socials a#instagram:hover {
    background: #E600D6;
    background: linear-gradient(to bottom, #E600D6 0%, #FC5A4E 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 1s;

}

.socials a#github:hover {
    color: #fff;
    transition: .4s;
}

.socials a#email:hover {
    color: rgb(42, 209, 255);
    transition: .4s;
}

#job-responsibilities {
    padding: 1px;
}

.job-title {
    font-weight: bold;
}

.cv-content {
    margin-top: 50px;
    margin-left: 20px;
}

table {
    border: 1px solid #dbdbdb;
    border-collapse: collapse;
}

#heading {
    background-color: #484848;
    color: #dbdbdb;
}

td,
th {
    border: 1px solid #dbdbdb;
    padding: 3px;
    /* border: 1px solid #E88741; */
}

#course-name {
    font-weight: bold;
}

#company-name {
    height: 2px;
    text-decoration: underline;
}

#job-title {
    height: 5px;
}

.job-duration {
    float: right;
}

#heading {
    font-weight: bold;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: #dbdbdb;
    margin: 40px 0;
    margin-top: 80px;
}

.list {
    list-style-type: none;
}

.list li{
    display: flex;
    align-items: baseline;
}

.list li::before {
    content: attr(data-list-icon);
    font-size: 20px;
    margin-right: 10px;
}

.footer {
    text-align: center;
}

.footer span {
    font-weight: bold;
    transition: .3s;
}

.footer:hover span {
    transition: .3s;
    background: #5DCF46;
    background: linear-gradient(to top left, #5DCF46 30%, #26E9FF 75%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}