body{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    background: #fbeaeb;
    min-width: 100vw;
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    display: none;
}

.navbar{
    background-color: #fbeaeb;
    z-index: 10;
}

.dropdown{
    z-index: 20;
    background-color: #2f3c7e;
}

.dropdown ul li{
    color: #fbeaeb;
}


.cart{
    -webkit-box-shadow: 5px 5px 14px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 14px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 14px -3px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    width: 50%;
    margin-top: calc(50px + 75px);
    margin-bottom: 50px;
    /* display: flex; */
    background-color: whitesmoke;
    /* align-items: center;
    justify-content: center; */
}

body > div.cart > hr{
    position: static;
    width: 90%;
    margin: auto;
}

.cart-item {
    margin: 25px 50px;
    display: grid;
    align-items: center;
    /* justify-content: space-evenly; */
    grid-template-columns: 1fr 2fr;
    box-sizing: border-box;
    grid-gap: 30px;
}

.author, .price, .quantity{
    margin: 10px 0;
    font-size: 25px;
}

.cart-item-img{
    flex-basis: 100px;
}
.cart-item-img img{
    width: 225px;
}