*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

/* ************************************* NAVBAR ****************************** */
.navbar{
    /* margin-top: 10px; */
    /* position: sticky; */
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    /* background-color: #2f3c7e54; */
    
    color: #fff;
    align-items: center;
    padding: 10px 30px;
    /* border-bottom: 1px solid #fff; */
}

.navbar a{
    color: white;
}

.categories lord-icon{
    cursor: pointer;
    color: #fbeaeb;
}


.dropdown{
    transition: all 0.3s;
    display: none;
    border: 2px solid #deac09;
    border-radius: 5px;
    position: absolute;
    width: 150px;
    padding: 10px;
    background-color: #fbeaeb;
}

.categories:hover .dropdown{
    transition: display 0.3s;
    display: block;
}

.dropdown ul{
    list-style: none;
    font-size: 20px;
}

.dropdown ul li{
    color: #2f3c7e;
    margin: 10px;
    transition: .2s;
}

.dropdown ul li:hover{
    font-weight: bold;
}


.logo{
    display: flex;
    align-items: center;
}

.logo-img{
    display: none;
    height: 50px;
    width: 50px;
}

.logo-name{
    margin-left: 120px;
    color: #2f3c7e;
    font-size: 3rem;
    text-shadow: 4px 2px 0px #deac09;
    /* font-weight: 500; */
    letter-spacing: 4px;
    font-family: 'Yeseva One', cursive;
    /* font-family: 'Montserrat', sans-serif; */
    transition: .2s;
}

.logo-name:hover{
    text-shadow: 4px 2px 0px #cd5555;
    /* text-shadow: 4px 2px 3px #deac09; */
}

.navigation{
    width: 10%;
    display: flex;
    justify-content: space-around;
    color: #2f3c7e;
}

.fa-solid{
    font-size: large;
    color: #2f3c7e;
}

.fa-book-open-reader{
    color: #fbeaeb;
}

hr{
    position: fixed;
    width: 100vw;
    top: 76px;
}