body {
    font-size: 2rem;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'consolas';
    flex-direction: column;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

#display {
    background-color: #323232;
    width: 300px;
    color: #FFF2F9;
    margin: 10px;
    padding: 20px;
    text-align: right;
    border-radius: 10px;
    user-select: all;
}

#display::selection {
    color: white;
    background-color: blueviolet;
}

.container {
    background-color: #FE83C6;
    padding: 20px;
    border-radius: 20px;
}

.buttons {
    user-select: none;
    padding: 20px 20px 10px 20px;
    /* width: 300px; */
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* background-color: pink; */
    grid-gap: 8px;
}

.button {
    /* border: 1px solid; */
    background-color: #FFF2F9;
    color: #323232;
    padding: 5px;
    text-align: center;
    padding: 18px 5px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.equals {
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 20px;
    margin-bottom: 10px;
}

.button:hover {
    background-color: #323232;
    color: #FFF2F9;
    transition: 150ms ease-out;
}